.nav-bar {
    background-color: lightslategrey;
}

.page-content {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.page-title {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}